**Recuerde no agregar o quitar celdas en este notebook, ni modificar su tipo. Si lo hace, el sistema automaticamente lo calificará con cero punto cero (0.0)**

# Descripción

Esta tarea tiene como fin ayudarlo a profundizar sus conocimientos en programación con el lenguaje **R**. En la siguiente celda importaré algunas librerias y leeré algunos archivos por usted.

In [ ]:
###__test__
customer    <- read.csv('customer'    , stringsAsFactors = FALSE)  
employee    <- read.csv('employee'    , stringsAsFactors = FALSE)
family      <- read.csv('family'      , stringsAsFactors = FALSE)
order2000   <- read.csv('order2000'   , stringsAsFactors = FALSE)
order2001   <- read.csv('order2001'   , stringsAsFactors = FALSE)
order2002   <- read.csv('order2002'   , stringsAsFactors = FALSE)
order2003   <- read.csv('order2003'   , stringsAsFactors = FALSE)
order2004   <- read.csv('order2004'   , stringsAsFactors = FALSE)
order2005   <- read.csv('order2005'   , stringsAsFactors = FALSE)
order2006   <- read.csv('order2006'   , stringsAsFactors = FALSE)
order2007   <- read.csv('order2007'   , stringsAsFactors = FALSE)
order2008   <- read.csv('order2008'   , stringsAsFactors = FALSE)
order2009   <- read.csv('order2009'   , stringsAsFactors = FALSE)
order2010   <- read.csv('order2010'   , stringsAsFactors = FALSE)
order2011   <- read.csv('order2011'   , stringsAsFactors = FALSE)
order2012   <- read.csv('order2012'   , stringsAsFactors = FALSE)
order2013   <- read.csv('order2013'   , stringsAsFactors = FALSE)
order2014   <- read.csv('order2014'   , stringsAsFactors = FALSE)
order2015   <- read.csv('order2015'   , stringsAsFactors = FALSE)
order2016   <- read.csv('order2016'   , stringsAsFactors = FALSE)
orderdetail <- read.csv('orderdetail' , stringsAsFactors = FALSE)
product     <- read.csv('product'     , stringsAsFactors = FALSE)
supplier    <- read.csv('supplier'    , stringsAsFactors = FALSE)

# Problema 1

Imprima el valor del campo `ssn` (uno por línea) para los registros 2, 6 y 8 del archivo `employee`.

# Problema 2

Imprima el total de registros (uno por línea) para los archivos `employee`, `product` y `orderdetail`.

In [ ]:
#
# escriba su codigo aqui
#

# Problema 3

Escriba una función `f` que reciba el nombre de un departamento y cuente cuantos registros hay para dicho departamento en el archivo `employee`.

In [ ]:
f <- function(departamento) {
    #
    # escriba su codigo aqui
    #
}

In [ ]:
###__test__
f("Accounting")
f("Advertising")
f("Asset Management")
f("Media Relations")
f("Sales and Marketing")

# Problema 4

Imprima una tabla con la cantidad de empleados nacidos por año, ordenada por año y un año por línea. Use un espacio en blanco para separar el año y la cantidad de personas; por ejemplo, '1969 2'.

In [ ]:
#
# escriba su codigo aqui
#

# Problema 5

Imprima una lista con las ciudades del archivo `employee` ordenadas alfabéticamente y sin repetir ciudad. Imprima una ciudad por renglón.

In [ ]:
#
# escriba su codigo aqui
#

# Problema 6

Imprima una lista con las ciudades del archivo `employee` ordenadas alfabéticamente indicando cuántas veces aparece cada ciudad en el archivo. Imprima una ciudad por renglón. Separe la ciudad y la cantidad por un espacio en blanco; por ejemplo: 'BELLEFONTE 3'.

In [ ]:
#
# escriba su codigo aqui
#

# Problema 7

Imprima, por cada ciudad diferente del archivo `employee`, cuántos registros quedan si se eliminan todos los registros que contienen dicha ciudad. Imprima la lista ordenada alfabéticamente. Separe la ciudad y la cantidad usando un espacio en blanco; por ejemplo: `'BELLEFONTE 47'`.

In [ ]:
#
# escriba su codigo aqui
#

# Problema 8

Escriba una función que reciba el nombre completo de un hijo (campo `fullname` del archivo `family`), y devuelva el primer nombre (`fullname`) del padre.

In [ ]:
f <- function(fullname) {
    #
    # escriba su codigo aqui
    #
}

In [ ]:
###__test__
cat(f('Jean Bailey'),    '\n')
cat(f('Berneice Neil'),  '\n')
cat(f('Mammie Montano'), '\n')
cat(f('Nettie Beasley'), '\n')

# Problema 9

Escriba una función que reciba el número de orden (`order.id`) y devuelva el nombre completo (`fullname`) del empleado que la atendio.

In [ ]:
f <- function(orderid){
    #
    # escriba su codigo aqui
    #
}

In [ ]:
###__test__
cat(f(309), '\n')
cat(f(653), '\n')
cat(f(996), '\n')

# Problema 10

Escriba una función que reciba el número de orden (`order.id`) y devuelva el nombre completo (`fullname`) del cliente que la solicitó.

In [ ]:
f <- function(orderid){
    #
    # escriba su codigo aqui
    #
}

In [ ]:
###__test__
cat(f(309), '\n')
cat(f(653), '\n')
cat(f(996), '\n')

# Problema 11

Escriba una función que reciba el nombre de un empleado (`fullname`) y retorne la cantidad de órdenes atendidas por él.

In [ ]:
f <- function(fullname){
    #
    # escriba su codigo aqui
    #
}

In [ ]:
###__test__
cat(f('Christy Petry'), '\n')
cat(f('Gisela Strong'), '\n')
cat(f('Ellis Ervin')  , '\n')

# Problema 12

Escriba una función que reciba el nombre de un empleado y retorne el valor mínino del campo `order.id` del total de ordenes que atendió.

In [ ]:
f <- function(fullname){
    #
    # escriba su codigo aqui
    #
}

In [ ]:
###__test__
cat(f('Christy Petry'), '\n')
cat(f('Gisela Strong'), '\n')
cat(f('Ellis Ervin')  , '\n')

# Problema 13

Escriba una función que reciba el `order.id` de una orden y retorne el cálculo del valor total de la orden.

In [ ]:
f <- function(orderid) {
    #
    # escriba su codigo aqui
    #
}

In [ ]:
###__test__
cat(f(1), '\n')
cat(f(2), '\n')
cat(f(3), '\n')

# Problema 14

Imprima la cantidad de empleados que nacieron en cada uno de los trimestres (`Q1`, `Q2`, `Q3`, `Q4`) del año. Imprima un trimestre por reglón, separando las cantidades por un espacio en blanco. Por ejemplo: `'Q1 18'`.

In [ ]:
#
# escriba su codigo aqui
#

# Problema 15

Escriba una función que reciba un grupo de cuatro dígitos e imprima la cantidad de veces que aparece dicho número en el segundo grupo de dígitos de todos los números telefónicos.

In [ ]:
f <- function(num) {
    #
    # escriba su codigo aqui
    #
}

In [ ]:
###__test__
cat(f('1289'), '\n')
cat(f('2345'), '\n')
cat(f('4876'), '\n')

---